<div class="card">
    Diese Website wurde mit viel ♥ für die einzigartige Lucia zu ihrem 30. Geburtstag erstellt.
    <br>
    <br>
    Erstellt mit dem statischen Seitengenerator <a href="http://getzola.org/" target="_blank">Zola</a> und dem Theme <a href="https://www.getzola.org/themes/toucan/" target="_blank">Toucan</a>. Quellcode der Website siehe <a href="https://github.com/davidkopp/lucias-geburtstag" target="_blank">GitHub</a>.
</div>
<div id="license">{{config.extra.license | safe}}</div>
<br>